<!--  наследуемся от шаблона default.html, который мы создавали для flatpages -->
{% extends 'flatpages/default.html' %}
{% load custom_filters %}
<!-- Название у нас будет **** -->
{% block title %}
post
{% endblock title %}

<!-- В контенте на странице мы выводим сам товар, идентификатор которого был передан в url -->
{% block content %}
<h3>новость номер {{ post.pk }}</h3><br>
   <table>
           <tr>
               <td>Заголовок</td>
               <td>Опубликовано</td>
               <td>Содержание</td>


           </tr>


           <tr>
               <td>{{ post.header }}</td>
               <td>{{ post.creation_date|censored|date:'d M Y' }}</td>
               <td>{{ post.body|censored }}</td>


           </tr>


       </table>
{% endblock content %}